In [1]:
import pandas as pd
import numpy as np
from itertools import product

In [2]:
fish_catch = pd.read_csv('data/어획량data.csv', encoding='cp949')

In [3]:
# Step 1: Melt the data
fish_catch_melted = pd.melt(
    fish_catch,
    id_vars=['시도', '어종명', '항목', '단위'],
    var_name='년도월',
    value_name='값'
)

# Step 2: Extract year and month
fish_catch_melted['연도'] = fish_catch_melted['년도월'].str.extract(r'(\d{4})')
fish_catch_melted['월'] = fish_catch_melted['년도월'].str.extract(r'\.(\d{2})')

# Step 3: Replace '-' with 0 and convert to numeric
fish_catch_melted['값'] = pd.to_numeric(fish_catch_melted['값'].replace('-', '0'), errors='coerce')

# Step 4: Pivot table without '데이터유형'
final_data = fish_catch_melted.pivot_table(
    index=['시도', '어종명', '연도', '월'],
    columns='항목',  # '항목'을 직접 사용
    values='값',
    aggfunc='sum'
).reset_index()

# Step 5: Rename columns if needed
final_data.columns.name = None
final_data = final_data.rename(columns={'어종명': '어종류'})

#
fish_list = [
    '가자미류', '감성돔', '갑오징어류', '갯장어', '기타', '기타갑각류',
    '기타돔류', '기타볼락류', '기타어류', '꼼치류', '꽃게', '낙지류',
    '넙치류(광어)', '농어류', '능성어', '대구', '돌돔(줄돔)', '문어류', '민꽃게',
    '민어', '복어류', '송어류', '전어', '조피볼락(우럭)', '주꾸미', '쥐치류',
    '참돔', '참조기', '해삼'
]
final_data = final_data[final_data['어종류'].isin(fish_list)]
# 결과 확인
final_data

      시도   어종류    연도   월  총마릿수[마리]   총중량[kg]
0     강원  가자미류  2023  01  304982.0   78277.0
1     강원  가자미류  2023  02  628437.0  124213.0
2     강원  가자미류  2023  03  106758.0   27797.8
3     강원  가자미류  2023  04   34029.0    7582.6
4     강원  가자미류  2023  05   17485.0    4095.8
...   ..   ...   ...  ..       ...       ...
8883  충남    해삼  2024  06       0.0       0.0
8884  충남    해삼  2024  07       0.0       0.0
8885  충남    해삼  2024  08       0.0       0.0
8886  충남    해삼  2024  09       0.0       0.0
8887  충남    해삼  2024  10       0.0       0.0

[4356 rows x 6 columns]

In [14]:
final_data['시도'].unique()

array(['강원', '경기', '경남', '경북', '부산', '울산', '인천', '전남', '전북', '제주', '충남'],
      dtype=object)

In [5]:
final_data.to_csv('data/어획량(전처리).csv', index=True)

In [16]:
# 방류실적 2022년도 데이터
fish_discharge = pd.read_csv('data/2022년 방류실적(기초자료)(최종수정본).csv', encoding='cp949')

# 필요 coloumn
fish_dis_col = ['방류기간','지역', '품종', '방류물량1', '방류구분']
fish_discharge = fish_discharge[fish_dis_col]

# 방류기간 -> 연도, 월 데이터 추출
fish_discharge['연도'] = fish_discharge['방류기간'].str.extract(r'(\d{4})')
fish_discharge['월'] = fish_discharge['방류기간'].str.extract(r'-(\d{2})')

# 시도 컬럼 생성 
fish_discharge['시도'] = fish_discharge['지역'].astype(str).apply(lambda x: x.replace('시도', ''))

# drop
fish_discharge = fish_discharge.drop(columns=['방류기간', '지역'], axis=1)

fish_discharge

         품종   방류물량1  방류구분    연도   월    시도
0     가리맛조개  871446  매입방류  2022  06    전남
1     가무락조개   10000  매입방류  2022  12  FIRA
2     가무락조개  500000  시험방류  2022  10    경기
3     가무락조개  589529  매입방류  2022  01    인천
4     가무락조개  447500  매입방류  2022  11    인천
...     ...     ...   ...   ...  ..   ...
1648     황복  374060  매입방류  2022  08    경기
1649     황복   58000  생산방류  2022  07    부산
1650     황어   30000  생산방류  2022  07    울산
1651     황어  500000  생산방류  2022  01    전남
1652    흑해삼   80000  무상방류  2022  01    경북

[1653 rows x 6 columns]

In [23]:
# 방류실적 23년도 데이터
fish_discharge1 = pd.read_csv('data/2023년도_방류실적.csv', encoding='cp949')

fish_columns_order = ['방류기간', '기관', '품종', '방류구분', '방류물량1']

fish_discharge1 = fish_discharge1[fish_columns_order]

# 연도 월 추출
fish_discharge1['연도'] = fish_discharge1['방류기간'].str.extract(r'(\d{4})')
fish_discharge1['월'] = fish_discharge1['방류기간'].str.extract(r'-(\d{2})')

# 지역 컬럼 
fish_discharge1['시도'] = fish_discharge1['기관'].astype(str).apply(lambda x: x.replace('시도', ''))

# drop
fish_discharge1 = fish_discharge1.drop(columns=['방류기간'], axis=1)

# concat
fish_final = pd.concat([fish_discharge, fish_discharge1], axis=0, ignore_index=True)

# 어종명 필요 데이터
species_list = ['감성돔', '갑오징어', '강도다리', '개볼락',
       '꺽지','꼼치', '꽃게', '낙지', '넙치',
       '대구', '대농갱이', '대륙송사리', '대하', '돌가자미', '돌돔',
       '동남참게', '동자개','뚝지', '말쥐치', '메기', '명태', '문치가자미',
       '물렁가시붉은새우', '미꾸라지', '미꾸리', '미유기', '민어', '박대',
       '뱀장어', '버들붕어', '버들치', '보리새우', '볼락', '붉바리', '붕어',
       '빙어', '쏘가리', '쏨뱅이', '연어', '왕우럭',
       '은어', '잉어', '자바리', '전복', '점농어', '조피볼락', '주꾸미',
       '쥐노래미', '쥐치', '참게', '참돔', '참조기', '톱날꽃게', '해삼',
       '홍해삼', '황복', '황어', '흑해삼', '대문어', '도다리', '능성어', '부세', '전어',
       '참마자']
filtered_data = fish_final[fish_final['품종'].isin(species_list)]


filtered_data

       품종     방류물량1  방류구분    연도   월                  시도                  기관
8     감성돔    123831  매입방류  2022  01                  경남                 NaN
9     감성돔    139183  매입방류  2022  06                  경남                 NaN
10    감성돔    303030  매입방류  2022  01                  경남                 NaN
11    감성돔    100000  생산방류  2022  07                  경남                 NaN
12    감성돔    208290  매입방류  2022  06                  경남                 NaN
...   ...       ...   ...   ...  ..                 ...                 ...
3195   은어    121362  매입방류  2023  01            경상남도 산청군            경상남도 산청군
3196   연어    700000  생산방류  2023  03  강원특별자치도 삼척시 수산자원센터  강원특별자치도 삼척시 수산자원센터
3197   연어    300000  생산방류  2023  03  강원특별자치도 삼척시 수산자원센터  강원특별자치도 삼척시 수산자원센터
3198   꼼치  30050000  생산방류  2023  01        전라남도 해양수산과학원        전라남도 해양수산과학원
3199   전복     24351  매입방류  2023  01       한국수산자원공단 동해본부       한국수산자원공단 동해본부

[2737 rows x 7 columns]

In [33]:
filtered_data['시도'] = filtered_data['시도'].apply(lambda x : x.replace('특별자', ''))
filtered_data['시도'] = filtered_data['시도'].apply(lambda x : x.replace('경상남도', '경남'))
filtered_data['시도'] = filtered_data['시도'].apply(lambda x : x.replace('경상북도', '경북'))
filtered_data['시도'] = filtered_data['시도'].apply(lambda x : x.replace('전라남도', '전남'))
filtered_data['시도'] = filtered_data['시도'].apply(lambda x : x.replace('경기도', '경기'))
filtered_data['시도'] = filtered_data['시도'].apply(lambda x : x.replace('부산광역시', '부산'))
filtered_data['시도'] = filtered_data['시도'].apply(lambda x : x.replace('충청남도', '충남'))
filtered_data['시도'] = filtered_data['시도'].apply(lambda x : x[:2])
filtered_data['시도'].unique()

C:\Users\fn45\AppData\Local\Temp\ipykernel_6244\2756754849.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['시도'] = filtered_data['시도'].apply(lambda x : x.replace('특별자', ''))
C:\Users\fn45\AppData\Local\Temp\ipykernel_6244\2756754849.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['시도'] = filtered_data['시도'].apply(lambda x : x.replace('경상남도', '경남'))
C:\Users\fn45\AppData\Local\Temp\ipykernel_6244\2756754849.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['시도'] = filtered_data['시도'].apply(lambda x : x.replace('경상북도', '경북'))
C:\Users\fn45\AppData\Local\Temp\ipykernel_6244\2756754849.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['시도'] = filtered_data['시도'].apply(lambda x : x.replace('전라남도', '전남'))
C:\Users\fn45\AppData\Local\Temp\ipykernel_6244\2756754849.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['시도'] = filtered_data['시도'].apply(lambda x : x.replace('경기도', '경기'))
C:\Users\fn45\AppData\Local\Temp\ipykernel_6244\2756754849.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['시도'] = filtered_data['시도'].apply(lambda x : x.replace('부산광역시', '부산'))
C:\Users\fn45\AppData\Local\Temp\ipykernel_6244\2756754849.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['시도'] = filtered_data['시도'].apply(lambda x : x.replace('충청남도', '충남'))
C:\Users\fn45\AppData\Local\Temp\ipykernel_6244\2756754849.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['시도'] = filtered_data['시도'].apply(lambda x : x[:2])

array(['경남', '부산', '수협', '전남', '전북', '충남', '경기', '인천', '강원', '경북', '울산',
       '충북', 'na', 'FI', '제주', '한국', '충청', '태안', '여수', '군산', '서천'],
      dtype=object)

In [36]:
species_list1 = ['경남', '부산', '전남', '전북', '충남', '경기', '인천', '강원', '경북', '울산',
       '충북', '제주']
filtered_data = filtered_data[filtered_data['시도'].isin(species_list1)]

filtered_data = filtered_data.drop(columns=['기관'], axis=1)
filtered_data

       품종     방류물량1  방류구분    연도   월  시도
8     감성돔    123831  매입방류  2022  01  경남
9     감성돔    139183  매입방류  2022  06  경남
10    감성돔    303030  매입방류  2022  01  경남
11    감성돔    100000  생산방류  2022  07  경남
12    감성돔    208290  매입방류  2022  06  경남
...   ...       ...   ...   ...  ..  ..
3194   대구   5000000  생산방류  2023  02  경남
3195   은어    121362  매입방류  2023  01  경남
3196   연어    700000  생산방류  2023  03  강원
3197   연어    300000  생산방류  2023  03  강원
3198   꼼치  30050000  생산방류  2023  01  전남

[2513 rows x 6 columns]

In [39]:
filtered_data.info(), fish_discharge.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2513 entries, 8 to 3198
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   품종      2513 non-null   object
 1   방류물량1   2513 non-null   int64
 2   방류구분    2513 non-null   object
 3   연도      2513 non-null   object
 4   월       2513 non-null   object
 5   시도      2513 non-null   object
dtypes: int64(1), object(5)
memory usage: 137.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1653 entries, 0 to 1652
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   품종      1653 non-null   object
 1   방류물량1   1653 non-null   int64
 2   방류구분    1653 non-null   object
 3   연도      1653 non-null   object
 4   월       1653 non-null   object
 5   시도      1653 non-null   object
dtypes: int64(1), object(5)
memory usage: 77.6+ KB

(None, None)

In [40]:
# index set
filtered_data = filtered_data.set_index('품종')

# '어종류' 열 값 수정
species_to_type = {
    '감성돔' : '감성돔',
    '갑오징어' : '갑오징어류',
    '강도다리' : '가자미류',
    '개볼락' : '기타볼락류',
    '꺽지' : '농어류',
    '꼼치' : '꼼치류',
    '꽃게' : '꽃게',
    '낙지' : '낙지류',
    '넙치' : '넙치류(광어)',
    '능성어' : '능성어',
    '대구' : '대구',
    '대농갱이' : '기타',
    '대륙송사리' : '기타',
    '대문어' : '문어류',
    '대하' : '기타갑각류',
    '도다리' : '가자미류',
    '돌가자미' : '가자미류',
    '돌돔' : '돌돔(줄돔)',
    '동남참게' : '기타',
    '동자개' : '기타',
    '뚝지' : '기타',
    '말쥐치' : '쥐치류',
    '메기' : '기타',
    '명태' : '대구',
    '문치가자미' : '가자미류',
    '물렁가시붉은새우' : '기타갑각류',
    '미꾸라지' : '기타',
    '미꾸리' : '기타',
    '미유기' : '기타',
    '민어' : '민어',
    '박대' : '가자미류',
    '뱀장어' : '갯장어',
    '버들붕어' : '기타',
    '버들치' : '기타',
    '보리새우' : '기타갑각류',
    '볼락' : '기타볼락류',
    '부세' : '기타조기류',
    '붉바리' : '기타돔류',
    '붕어' : '기타어류',
    '빙어' : '기타어류',
    '쏘가리' : '농어류',
    '쏨뱅이' : '기타볼락류',
    '연어' : '송어류',
    '왕우럭' : '조피볼락(우럭)',
    '은어' : '기타어류',
    '잉어' : '기타어류',
    '자바리' : '기타돔류',
    '전복' : '기타',
    '전어' : '전어',
    '점농어' : '농어류',
    '조피볼락' : '조피볼락(우럭)',
    '주꾸미' : '주꾸미',
    '쥐노래미' : '노래미류',
    '쥐치' : '쥐치류',
    '참게' : '민꽃게',
    '참돔' : '참돔',
    '참마자' : '기타',
    '참조기' : '참조기',
    '톱날꽃게' : '기타갑각류',
    '해삼' : '해삼',
    '홍해삼' : '해삼',
    '황복' : '복어류',
    '황어' : '복어류',
    '흑해삼' : '해삼'
}
# 데이터프레임에 어종류 열 추가
filtered_data['어종류'] = filtered_data.index.map(lambda x: species_to_type.get(x, "기타"))

# 결과 확인
print(filtered_data)

        방류물량1  방류구분    연도   월  시도   어종류
품종
감성돔    123831  매입방류  2022  01  경남   감성돔
감성돔    139183  매입방류  2022  06  경남   감성돔
감성돔    303030  매입방류  2022  01  경남   감성돔
감성돔    100000  생산방류  2022  07  경남   감성돔
감성돔    208290  매입방류  2022  06  경남   감성돔
..        ...   ...   ...  ..  ..   ...
대구    5000000  생산방류  2023  02  경남    대구
은어     121362  매입방류  2023  01  경남  기타어류
연어     700000  생산방류  2023  03  강원   송어류
연어     300000  생산방류  2023  03  강원   송어류
꼼치   30050000  생산방류  2023  01  전남   꼼치류

[2513 rows x 6 columns]

In [41]:
filtered_data.to_csv('data/방류실적(전처리).csv', index=True)